body{
    background-color: Black;
}
.row-content {
    margin: 100px 0 100px 0;
}
.txt-type {
    color: white;
}
.home-container{
    background-color: Orange;
    box-shadow: 1px 4px 4px 5px gray;
}
.grid {
    display: grid;
    place-items: center;
}
.navbar{
    background-color: black;
}
.header {
    color: white;   
}
.gridcolor {
    background-color: Orange;
}